<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebe890">  <td>23/01/24 15:33:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSingleUser.testparticularValue()[pri:0, instance:APItesting.TestingSingleUser@33990a0c]">testparticularValue</td> 
  <td>main@914507705</td>   <td></td> </tr>
<tr bgcolor="ebe890">  <td>23/01/24 15:33:45</td>   <td>-2206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSingleUser.printAllValues()[pri:0, instance:APItesting.TestingSingleUser@33990a0c]">printAllValues</td> 
  <td>main@914507705</td>   <td></td> </tr>
<tr bgcolor="ebe890">  <td>23/01/24 15:33:47</td>   <td>-308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSingleUser.testStatusCode()[pri:0, instance:APItesting.TestingSingleUser@33990a0c]">testStatusCode</td> 
  <td>main@914507705</td>   <td></td> </tr>
</table>
